## .NET / C# gitignore

# Build output
bin/
obj/
out/

# User-specific files
*.user
*.suo
.vs/

# NuGet
*.nupkg
*.snupkg
project.lock.json
packages/

# Rider
.idea/

# VS Code
.vscode/

# Task manager data file
tasks.json
